/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    overflow: hidden;
  }
  
  /* Tarjeta */
  .tarjeta {
    background-image: url('/recursos/imagenes/fondo-tj-00.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: pulse 2s infinite; /* Animación automática */
    
  }
  
  /* Contenido de la tarjeta */
  .tarjeta .contenido {
    padding: 20px;
    text-align: center;
    transform-style: preserve-3d;
    transform: translateZ(60px);    
  }
  
  /* Estilo del texto */
  h2 {
    margin: 0 0 10px;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
  }
  
  p {
    margin: 0 0 20px;
    color: rgb(180, 225, 255);
    font-size: 1rem;
  }

  
  /* Efecto de pulso */
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  /* Efecto decorativo con gradiente animado */
  .tarjeta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    z-index: 1;
    mix-blend-mode: overlay;
    animation: movimiento-gradiente 4s infinite linear;
  }
  
  /* Animación del gradiente */
  @keyframes movimiento-gradiente {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  